@font-face {
  font-family: "HarryPotter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HarryPotter.woff2") format("woff2"),
    url("../fonts/HarryPotter.woff") format("woff"),
    url("../fonts/HarryPotter.ttf") format("truetype");
}

body {
  font-family: "HarryPotter", serif;
}

.container {
  max-width: 1440px;
}

.shadow-text {
  text-shadow: 1px -1px 0 #000, 10px -1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000;
}

.header-info {
  background-image: url(../images/bg.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.header-info__about {
}

.header-info__h1 {
  font-size: 200px;
  color: white;
  margin-top: 10px;
  margin: 20px;
}

.header-info__about p {
  font-size: 100px;
  color: white;
  margin-top: 5px;
  margin: 20px;
}

.scroll {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

/* факультет  */
.faculty {
  display: flex;
  justify-content: center;
}

.faculty-choice {
  display: flex;
  margin: 40px auto;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.faculty-choice img {
  width: 300px;
  height: 100%;
}

.faculty-choice__text {
  font-size: 60px;
  max-width: 60%;
}

/* .faculty-description-card {
  display: flex;
  justify-content: space-around;
  gap: 10px;
} */

.faculty-description-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 0 20px;
}

.faculty-description-card__item {
  margin: 20px;
  justify-self: center;
}

.faculty-description-card__item__facultyname {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 50px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px;
  gap: 10px;
}

.faculty-description-card__item__facultyname img {
  width: 70px;
  height: 100%;
}

.faculty-description-card__item__facultyabout p {
  font-size: 30px;
}

@media screen and (max-width: 1140px) {
  .header-info__h1 {
    font-size: 150px;
  }
  .header-info__about p {
    font-size: 75px;
    margin-top: 10px;
  }
  .scroll {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .faculty-choice__text {
    font-size: 50px;
  }

  .faculty-choice img {
    width: 200px;
    height: 100%;
  }

  .faculty-description-card {
    grid-template-columns: repeat(2, 1fr); /* 2 карточки в ряд */
  }
  .faculty-description-card__item__facultyabout p {
    font-size: 35px;
  }
  .faculty-description-card__item__facultyname {
    font-size: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 960px) {
  .header-info__h1 {
    font-size: 100px;
  }
  .header-info__about p {
    font-size: 60px;
    margin-top: 30px;
  }
  .scroll {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .faculty-choice__text {
    font-size: 25px;
  }

  .faculty-choice img {
    width: 300px;
    height: 100%;
  }

  .faculty-description-card {
    grid-template-columns: repeat(2, 1fr); /* 2 карточки в ряд */
    gap: 10px;
  }
  .faculty-description-card__item__facultyabout p {
    font-size: 35px;
  }
  .faculty-description-card__item__facultyname {
    font-size: 40px;
  }
}

@media screen and (max-width: 720px) {
  .faculty-description-card {
    gap: 10px;
  }

    .faculty-choice img {
    width: 150px;
    height: 100%;
  }

  .faculty-description-card__item__facultyabout p {
    font-size: 25px;
  }
  .faculty-description-card__item__facultyname {
    font-size: 30px;
  }
}

@media screen and (max-width: 580px) {
  
  .faculty-description-card__item__facultyabout p {
    font-size: 20px;
  }
  .faculty-description-card__item__facultyname {
    font-size: 25px;
    padding: 0;
  }
}
